[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/pytextbook/pytextbook/blob/main/3.1.%20pandas.ipynb) 


## 판다스 기초

 https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf 참고

In [ ]:
# pandas를 pd라는 별칭(alias)으로 불러 온다
import pandas as pd

In [ ]:
# 데이터를 pd 데이터 프레임 안에 ()로 감싸서 변수 df에 할당한다.
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])

In [ ]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

위의 결과처럼 판다스는 행과 열로 구성된 표 형태의 데이터를 처리할 수 있다는 장점이 있다.

In [ ]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [ ]:
#대소문자 구분에 주의해야 한다.아래와 같이 입력하면 KeyError 가 발생한다.
#df[["A"]]

In [ ]:
# a행과 b행의 데이터 보기 
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [ ]:
#특정 인덱스의 열만 보기
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [ ]:
import numpy as np
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])  
index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
    names=['n','v'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

#판다스 데이터 프레임 : 비교연산자로 색인하기

In [ ]:
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [ ]:
df[df.a < 6]

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0

In [ ]:
#특정값 5가 들어있는 행과 열 찾기
df.a.isin([5])

n  v
d  1    False
   2     True
e  2    False
   3    False
   4    False
Name: a, dtype: bool

  a열 2행에 찾고자 하는 값‘5’가 있음을 확인할  수 있다.

## 중복 데이터 제거하기

* keep = 'first', 'last', False 등과 같은 매개변수를 사용해서 중복을 제거할 수 있다.

In [ ]:
df = df.drop_duplicates(subset="a", keep='last')
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 3  6.0  9.0   NaN
  4  NaN  9.0  12.0

중복이 있었던 6,9,12는 keep='last'를 사용했으므로 앞에 값이 남고 뒤에 중복되는 값은 삭제된 것을 알 수 있다.

## head()와 tail()로 데이터 미리보기 

●	df.head(n): 처음의 일부 데이터를 확인          
●	df.tail(n): 끝의 일부 데이터를 확인                  
                  
n에는 보고자 하는 행만큼의 숫자를 넣어주면 된다. 아무 숫자도 입력하지 않으면 기본값인 5행이 출력된다.

In [ ]:
df.head(2)

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0

In [ ]:
df.tail(2)

       a    b     c
n v
e 3  6.0  9.0   NaN
  4  NaN  9.0  12.0

## str 접근자로 문자열 다루기

* https://pandas.pydata.org/docs/user_guide/text.html

판다스의 시리즈 형태의 데이터를 문자열로 다루게 되면 파이썬 문자열 함수와 비슷하게 문자열을 처리할 수 있다. 다음과 같은 문서가 판다스의 시리즈 형태로 있다고 할 때 대소문자 변경, 공백제거, 어절 나누기, 특정문자 찾기, 바꾸기 등의 문자열 전처리에 필요한 몇 가지 기능을 알아본다.

In [ ]:
# 실습을 위한 예시 문장  
document = ["코로나 상생지원금 문의입니다.",
            " 지하철 운행시간 문의입니다.",
            "버스 운행시간 문의입니다. ",
            "사회적 거리두기로 인한 영업시간 안내입니다.",
            "Bus 운행시간 문의입니다.",
            " Taxi 승강장 문의입니다."]

위에 코드로 실습을 위해 예시 문장을 몇 개 만들어서 document에 담아 둔다. 그런 다음 document를 pd 데이터 프레임 안에  괄호로 감싸서 변수 df_doc에 할당할 것이다. 첫 행에 "문서"라는 제목도 설정한다

In [ ]:
df_doc = pd.DataFrame(document, columns=["문서"])
df_doc

                         문서
0          코로나 상생지원금 문의입니다.
1           지하철 운행시간 문의입니다.
2           버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 영업시간 안내입니다.
4           Bus 운행시간 문의입니다.
5           Taxi 승강장 문의입니다.

astype()을 사용해서 df_doc의 각 행에 들어있는 데이터의 타입을 바꿀 수 있다.

In [ ]:
df_doc["문서"].astype("string")

0            코로나 상생지원금 문의입니다.
1             지하철 운행시간 문의입니다.
2             버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             Bus 운행시간 문의입니다.
5             Taxi 승강장 문의입니다.
Name: 문서, dtype: string

Name: 문서, dtype: string으로 데이터의 타입이 변경되었음을 확인할 수 있다.

### 대소문자 변경

In [ ]:
# 대문자로 변경하기
df_doc["문서"].str.upper()

0            코로나 상생지원금 문의입니다.
1             지하철 운행시간 문의입니다.
2             버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             BUS 운행시간 문의입니다.
5             TAXI 승강장 문의입니다.
Name: 문서, dtype: object

츨력 결과를 보면 첫 글자만 대문자로 되어 있던 Bus와 Taxi가 Series.str.upper()로 변경한 후에는 모두 대문자인  BUS, TAXI 로 바뀌었다.  Series.str.lower()로 변경한 후에는 모두 소문자인 bus, taxi로 변경된 것을 확인할 수 있을것이다.

In [ ]:
# 소문자로 변경하기
df_doc["문서"].str.lower()

0            코로나 상생지원금 문의입니다.
1             지하철 운행시간 문의입니다.
2             버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             bus 운행시간 문의입니다.
5             taxi 승강장 문의입니다.
Name: 문서, dtype: object

### 양끝 공백 제거

In [ ]:
# 양끝 공백 제거
df_doc["문서"].str.strip()

0            코로나 상생지원금 문의입니다.
1             지하철 운행시간 문의입니다.
2              버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             Bus 운행시간 문의입니다.
5             Taxi 승강장 문의입니다.
Name: 문서, dtype: object

### 어절 나누기

In [ ]:
# 띄어쓰기를 기준으로 어절 나누기
df_doc["문서"].str.split()

0              [코로나, 상생지원금, 문의입니다.]
1               [지하철, 운행시간, 문의입니다.]
2                [버스, 운행시간, 문의입니다.]
3    [사회적, 거리두기로, 인한, 영업시간, 안내입니다.]
4               [Bus, 운행시간, 문의입니다.]
5               [Taxi, 승강장, 문의입니다.]
Name: 문서, dtype: object

In [ ]:
# 어절을 나누고 데이터프레임으로 반환받기
df_doc["문서"].str.split(expand=True)

      0      1       2     3       4
0   코로나  상생지원금  문의입니다.  None    None
1   지하철   운행시간  문의입니다.  None    None
2    버스   운행시간  문의입니다.  None    None
3   사회적  거리두기로      인한  영업시간  안내입니다.
4   Bus   운행시간  문의입니다.  None    None
5  Taxi    승강장  문의입니다.  None    None

### 특정 문자 찾기

str.contains("찾고자 하는 문자")를 입력하면 문자가 있는 열은 True, 없는 열은 False를 반환한다.

In [ ]:
# 특정 문자가 들어가는 텍스트 찾기
df_doc["문서"].str.contains("버스")

0    False
1    False
2     True
3    False
4    False
5    False
Name: 문서, dtype: bool

In [ ]:
# 특정 문자가 들어가는 텍스트를 찾아 다시 데이터프레임으로 감싸주면 해당 데이터만 가져오게 된다.
df_doc[df_doc["문서"].str.contains("버스")]

                문서
2  버스 운행시간 문의입니다.

### 문자열 바꾸기

In [ ]:
# replace 를 통해 특정 문자열을 변경할 수 있다.
df_doc["문서"].str.replace("운행", "영업")

0            코로나 상생지원금 문의입니다.
1             지하철 영업시간 문의입니다.
2             버스 영업시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             Bus 영업시간 문의입니다.
5             Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [ ]:
# replace 를 사용해서 문자열을 변경할 때 정규표현식을 함께 사용할 수 있다.
df_doc["문서"].str.replace("버스|지하철", "대중교통", regex=True)

0            코로나 상생지원금 문의입니다.
1            대중교통 운행시간 문의입니다.
2           대중교통 운행시간 문의입니다.
3    사회적 거리두기로 인한 영업시간 안내입니다.
4             Bus 운행시간 문의입니다.
5             Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [ ]:
# str 을 제외하고 replace()를 사용해서 문자열의 일부만 변경하고자 할때는 regex=True 를 함께 사용해야 한다.
# replace() 는 전체 일치하는 값이 있을 때 값이 변경되며 
# 데이터프레임에서 사용할 때는 딕셔너리 형태로 변경하고자 하는 컬럼과 값을 지정해서 사용할 수 있다.
df_doc.replace("지하철", "교통", regex=True)

                         문서
0          코로나 상생지원금 문의입니다.
1            교통 운행시간 문의입니다.
2           버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 영업시간 안내입니다.
4           Bus 운행시간 문의입니다.
5           Taxi 승강장 문의입니다.

In [ ]:
df_doc.replace({"문의":"질문"}, regex=True)

                         문서
0          코로나 상생지원금 질문입니다.
1           지하철 운행시간 질문입니다.
2           버스 운행시간 질문입니다.
3  사회적 거리두기로 인한 영업시간 안내입니다.
4           Bus 운행시간 질문입니다.
5           Taxi 승강장 질문입니다.

In [ ]:
df_doc["문서"].str.split("문의")

0            [코로나 상생지원금 , 입니다.]
1            [ 지하철 운행시간 , 입니다.]
2             [버스 운행시간 , 입니다. ]
3    [사회적 거리두기로 인한 영업시간 안내입니다.]
4             [Bus 운행시간 , 입니다.]
5            [ Taxi 승강장 , 입니다.]
Name: 문서, dtype: object